*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

// TODO: Create button component
.btn {
  @extend %gc-cta;

  background: $bunting;
  border: $corn solid 2px;
  color: $almond;
  padding: 14px 16px;
}
