@mixin gc-double-text($color, $distance) {
  color: $color;
  position: relative;

  &:before {
    -webkit-text-stroke: 1px rgba($color, 0.3);
    color: rgba(0, 0, 0, 0);
    content: attr(data-heading);
    left: $distance;
    position: absolute;
    top: $distance;
  }
}

@mixin gc-double-box($color, $bg_color, $distance) {
  background-color: $bg_color;
  border: 1px solid $color;
  position: relative;

  &::after {
    background-color: $bg_color;
    border: 1px solid $color;
    content: '';
    height: 100%;
    left: $distance;
    position: absolute;
    top: $distance;
    width: 100%;
    z-index: -1;
  }
}

@mixin from($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (min-width: $small-bp) { @content; }
  }
  @else if $breakpoint == 'md' {
    @media (min-width: $medium-bp) { @content; }
  }
  @else if $breakpoint == 'lg' {
    @media (min-width: $large-bp)  { @content; }
  }
  @else if $breakpoint == 'xl' {
    @media (min-width: $xlarge-bp)  { @content; }
  }
}
