// breakpoints
$small-bp: 375px;
$medium-bp: 768px;
$large-bp: 992px;
$xlarge-bp: 1200px;

// colors
$almond: #F0DFC2;
$blue-zodiac: #121A50;
$bunting: #17234A;
$corn: #DAD800;
$cape-cod: #3C423F;
$dove-gray: #707070;
$ebony: #0A0E1B;
$parchment: #F1E6CE;
$white: #FFF;

// fonts
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;

// layout
$container-spacing-left: 35px;
$container-spacing-right: 35px;

$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;
